<!DOCTYPE html>  
<html>  
  <head>  
    {% block head %}  
      <title>{% block title %}{% endblock %}user manage system</title>  
    {% endblock %}  
  </head>  
  <body>  
    <div id="content">{% block content %}{% endblock %}</div>  
  </body>  
</html>  