<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
  <title>用户信息管理系统</title>
</head>
<body> 
  <form action="index.php?action=UserModel&method=modify&id=<?php echo $users[0] ?>" method="post">
    用户名：<input type="text" name="name" value="<?php echo $users[1] ?>"><br/><br/>
    性别：<input type="text" name="sex" value="<?php echo $users[2] ?>"><br/><br/>
    年龄：<input type="text" name="age" value="<?php echo $users[3] ?>"><br/><br/>
    个人信息：<input type="text" name="info" value="<?php echo $users[4] ?>"><br/><br/>
    <input type="submit" value="修改"><br/>
  </form>
</body>
</html>